* {
    box-sizing: border-box;
}
.test-box {
    border: solid 3px black;
    width: 200px;
    height: 100px;
    margin: 30px;
}

#margin-box1 {
    margin-bottom: 10rem;
    margin-top: 10rem;
    margin-left: 50%;
}

#padding-box1 {
    padding: 30px;
    padding-left: 10rem;
}